GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=top2.nearest.of.igit-db.internal:5432
GITEA__database__NAME=igit
GITEA__database__PASSWD=
GITEA__database__USER=igit
GITEA__security__INSTALL_LOCK=true
GITEA__server__DOMAIN=git.iuser.link
GITEA__server__ROOT_URL=https://git.iuser.link
GITEA__server__SSH_DOMAIN=git.iuser.link
