if ! [ -x "$(command -v fly)" ]; then
if [ -x "$(command -v brew)" ]; then
brew install fly
else
curl -L https://fly.io/install.sh | sh
fi
fi

if ! [ -x "$(command -v tomlq)" ]; then
pip3 install -r ./requirements.txt
fi

for d in */ ; do
cd "$d"
direnv allow
cd ..
done

